{% extends 'base.html.twig' %}

{% block title %}Accueil, Flan Formation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h1>Bonjour {{ app.user.pseudo }} !  ✅</h1>
    {% else %}
        <h1>Bonjour visiteur !  👋</h1>
    {% endif %}
    

    Liste des sessions en cours et à venir :
    
    <table>
        <tr>
            <th>Session</th>
            <th> Date de début </th>
            <th> Date de fin </th>
            <th>Nombre de places</th>
            <th>Formateur</th>
        </tr>
        
    {% for session in sessions %}
        <tr><td>{{ session.nomSession }} </td><td> {{ session.dateDebut | date('j M Y') }}
        </td><td> {{ session.dateFin | date('j M Y') }} </td><td>
        {{ session.nbrPlace}} </td><td> formateur</td></tr>
    {% endfor %}
        
    </table>

</div>
{% endblock %}
